exportPattern("^get+")
exportPattern("^plot+")
exportPattern("^list+")
importFrom("jsonlite", "fromJSON")
importFrom("rtracklayer", "import")
importFrom("GenomicRanges", "resize")
importFrom("GenomicRanges", "findOverlaps")
importFrom("GenomicRanges", "width")
importFrom("stringr", "str_split")
importFrom("stringr", "str_length")
importFrom("stringr", "str_sub")
importFrom("stringr", "str_locate_all")
importFrom("stringr", "str_count")
importFrom("stringr", "str_replace_all")
importFrom("gsheet", "gsheet2tbl")
